body {
  max-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
.color-info {
  position: relative;
  font-weight: 700;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
#color-format {
  pointer-events: none;
}
.copy {
  display: flex;
  align-items: center;
}
.copy svg {
  margin-left: 5px;
  pointer-events: none;
}
.toast {
  white-space: nowrap;
  width: 100%;
  position: absolute;
  left: -35px;
  top: 30px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.5s;
}
.toast.show {
  opacity: 1;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
